.content {
  margin: auto;
}

.div {
    display: block;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin: 0px auto;
}

.card {
    background-color: rgb(240, 240, 240);
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
font-size: 14px;
height: 100%;
line-height: 20px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #333;
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 90%;
}

.icon {
    width: 1%;
    border: 1px solid gray;
}

.container, .card, .fitur {
  display: flex;
  justify-content: flex-start;
}

.container-2 {
  display: flex;
  justify-content: flex-end;
}

.row-1, .row-2, .calculator, .card, .hasil-bmi .col-sm {
    float: left;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  

  ol {
    list-style-type: decimal;
    -webkit-padding-start: 15px;
    font-family: Lato-Light, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

  ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
  }

    .row {
        margin-right: 15px;
        margin-left: 15px;
  }

  button {
    display: inline-block;
  margin: 2px 1px;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  }

  .button {
    background: rgb(89, 188, 220);
    color: white;
    display: inline-block;
  }

  .button:hover {
    background: rgb(11, 121, 157);
  }

  .button.reset {
    background: white;
    color: black;
    border: 1px solid lightgray;
  }

  .button.reset:hover {
    background: lightgray;
  }

  input .form-group {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 0.5 px solid rgb(212, 244, 255);
  }

